{% extends 'base.html.twig' %}

{% block title %}Eventos{% endblock %}

{% block body %}
    <h1>Eventos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Dia</th>
                <th>Periodicidad</th>
                <th>Categoria</th>
                <th>Tipo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evento in eventos %}
            <tr>
                <td>{{ evento.titulo }}</td>
                <td>{{ evento.descripcion }}</td>
                <td>{{ evento.dia ? evento.dia|date('Y-m-d') : '' }}</td>
                <td>{{ evento.periodicidad ? evento.periodicidad.format('%y year(s), %m month(s), %d day(s)') : '' }}</td>
                <td>{{ evento.categoria ? evento.categoria|join(', ') : '' }}</td>
                <td>{{ evento.tipo }}</td>
                <td>
                    <a href="{{ path('app_evento_show', {'id': evento.id}) }}">Mostrar</a>
                    <a href="{{ path('app_evento_edit', {'id': evento.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no se encontró ningún evento</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_evento_new') }}">Crear evento</a>
{% endblock %}
