{% extends 'base.html.twig' %}

{% block title %}Eventos{% endblock %}

{% block body %}
 <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand mr-4" href="{{ path('app_dashboard') }}">Agenda Web</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item ml-3">
                  {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                  {% if app.request.get('_route') == "app_evento_new" %}
                    {% else %}
                    {% endif %}
                  </li>
                  <li class="nav-item">
                  {% if app.request.get('_route') == "app_evento" %}
                    <a class="nav-link a ml-3 mr-5 active" href="{{ path('app_evento') }}">Mis eventos</a>
                    {% else %}
                    <a class="nav-link a ml-3 mr-3" href="{{ path('app_evento') }}">Mis eventos</a>
                    {% endif %}
                  </li>

                  {# Comprobamos que el usuario este registrado #}

                    
                      
                      <a href="{{ path('app_logout') }}"><button class="boton-nav a">Logout</button></a>
                    {% else %}
                      <a href="{{ path('app_login') }}"><button class="boton-nav a mr-3">Login</button></a>
                      <a href="{{ path('app_registro') }}"><button class="boton-nav a mr-3">Registrate</button></a>
                  {% endif %}
              </div>
            </div>
          </nav> 
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>

            <div class="p-3 m-4">
           <form action="#" method="get" class="row">
                <div class="col-5 m-auto">
                    <input type="text" name="query" id="query" class="form-control">
                </div>
                <button type="submit" class="button btn-info col-1">Buscar</button>
                {% if query == true  %}
                <a class="col-1" href="{{ path('app_evento') }}">
                    <input type="button" class="button2 btn-danger w-100 h-100" value="Resetear">
                    </a>
                {% endif %}
            </form>
    </div>

    <div id="container2" class="container bg-white shadow p-1 mb-5 bg-body rounded">

    <h1 class="p-4 ml-4">Eventos</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Dia</th>
                <th>Periodicidad</th>
                <th>Categoria</th>
                <th>Tipo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evento in evento %}
            <tr>
                <td>{{ evento.id }}</td>
                <td>{{ evento.titulo }}</td>
                <td>{{ evento.descripcion }}</td>
                <td>{{ evento.dia ? evento.dia|date('Y-m-d H:i') : '' }}</td>
                <td>{{ evento.periodicidad }}</td>
                <td>{{ evento.categoria ? evento.categoria|join(', ') : '' }}</td>
                <td>{{ evento.tipo }}</td>
                <td>
                    <a href="{{ path('app_evento_show', {'id': evento.id}) }}">Mostrar</a>
                    <a href="{{ path('app_evento_edit', {'id': evento.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No se encontró ningún evento</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('app_evento_new') }}">Crear evento</a>
    </div>
{% endblock %}
