{% extends 'base.html.twig' %}

{% block title %}Nuevo Evento{% endblock %}

{% block body %}
 <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand mr-4" href="{{ path('app_dashboard') }}">Agenda Web</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item ml-3">
                  {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                  {% if app.request.get('_route') == "app_evento_new" %}
                    {% else %}
                    {% endif %}
                  </li>
                  <li class="nav-item">
                  {% if app.request.get('_route') == "app_evento" %}
                    <a class="nav-link a ml-3 mr-5 active" href="{{ path('app_evento') }}">Mis eventos</a>
                    {% else %}
                    <a class="nav-link a ml-3 mr-3" href="{{ path('app_evento') }}">Mis eventos</a>
                    {% endif %}
                  </li>

                  {# Comprobamos que el usuario este registrado #}

                    
                      
                      <a href="{{ path('app_logout') }}"><button class="boton-nav a">Logout</button></a>
                    {% else %}
                      <a href="{{ path('app_login') }}"><button class="boton-nav a mr-3">Login</button></a>
                      <a href="{{ path('app_registro') }}"><button class="boton-nav a mr-3">Registrate</button></a>
                  {% endif %}
              </div>
            </div>
          </nav> 
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
    <h1 class="p-4 ml-5">Crear nuevo evento</h1>

<div id="container2" class=" container bg-white shadow p-3 mb-5 bg-body rounded">
    {{ include('evento/_form.html.twig') }}

    <a href="{{ path('app_dashboard') }}"><button class="btn btn-md btn-primary mt-3">Volver</button></a>
    </div>
{% endblock %}
