{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Dashboard
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand mr-4" href="{{ path('app_dashboard') }}">Agenda Web</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                 <li class="nav-item ml-3">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% if app.request.get('_route') == "RegistrarPost" %}
                  <a class="nav-link a active" aria-current="page" href="{{ path('app_evento_new') }}">Crear Evento</a>
                  {% else %}
                  <a class="nav-link a" aria-current="page" href="{{ path('app_evento_new') }}">Crear Evento</a>
                  {% endif %}
                </li>
                <li class="nav-item">
                {% if app.request.get('_route') == "app_evento" %}
                  <a class="nav-link a ml-3 mr-5 active" href="{{ path('app_evento') }}">Mis eventos</a>
                  {% else %}
                  <a class="nav-link a ml-3 mr-3" href="{{ path('app_evento') }}">Mis eventos</a>
                  {% endif %}
                </li>

                {# Comprobamos que el usuario este registrado #}

                  
                    
                    <a href="{{ path('app_logout') }}"><button class="boton-nav a">Logout</button></a>
                  {% else %}
                    <a href="{{ path('app_login') }}"><button class="boton-nav a mr-3">Login</button></a>
                    <a href="{{ path('app_registro') }}"><button class="boton-nav a mr-3">Registrate</button></a>
                {% endif %}
            </div>
          </div>
        </nav> 
          <script src="{{ asset('js/jquery.min.js') }}"></script>
          <script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
  </head>

    <script>


    let eventos = {{eventos|json_encode|raw}};

    for (const evento of eventos){

      evento.start = evento.start.date;

    }

    console.log(eventos);
    //eventos.sort();


      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          locale:"Es",
          timeZone: 'Europe/Spain',
          headerToolbar:{
            left:'prev,next, today',
            center:'title',
            right:'dayGridMonth,timeGridWeek,timeGridDay'
          },
              events: eventos,

            eventClick:function(callEvent, jsEvent, view){
              $("#tituloEvento").html(callEvent.title);
              $("#descripcionEvento").html(callEvent.descripcion);
            }

        })
        calendar.render();
      });

    </script>
  <body>


    <div class="contenedor">
    
    <div class="caja1 p-3" id='caja1'>
    
      <h4 class="mb-4">Proximo evento</h4>
        
          Su proximo evento es: 

          {% for EventoP in EventoP %}
            {{ EventoP.titulo }}; {{ EventoP.descripcion }}
           {% endfor %}
    
    </div>

    <div class="caja2 p-3" id='caja2'>

      <h4 class="mb-1">Primer evento de la semana siguiente</h4>
        
         El primer evento de la semana que viene es: 

           {{ events.titulo }};{{ events.descripcion }}

    </div>

    <div class="caja3 p-3" id='caja3'>

      <h4 class="mb-4">Categoría con más eventos</h4>
      
        <p>La categoría
        {% for categoria in categoria %}

        <td>{{ categoria.categoria }}</td>
          
        {% endfor %} 
        se repite
        {% for categoria in categoria %}

        <td>{{ categoria.maximo }}</td>
          
        {% endfor %}
        veces
        </p>

    </div>

    <div class="caja4 p-3" id='caja4'>

      <h4 class="mb-4">Número de eventos en el mes</h4>

        <p>Este mes tenemos
        {% for mesEvento in mesEvento %}

        <td>{{ mesEvento.veces }}</td>
          
        {% endfor %} 
        eventos</p>

    </div>
    
    </div>



    <div class="p-5" id='calendar'></div>
  </body>
</html>
{% endblock %}
